.drum-background {
     width: 100vw;
     height: 100vh;
     position: relative;
     display: flex;
     align-items: center;
     justify-content: center;
     background: rgba(252, 252, 252, 1);

}

#drum-machine {
     width: 80rem;
     height: calc((60rem / 3) * 2);
     padding: 2rem;
     background-color: rgba(0, 0, 0 , .7);
     display: grid;
     grid-template-columns: 65% 35%;
     gap: 1rem;
     -webkit-box-shadow: -20px 30px 48px -12px rgba(0,0,0,0.23);
     -moz-box-shadow: -20px 30px 48px -12px rgba(0,0,0,0.23);
     box-shadow: -20px 30px 48px -12px rgba(0,0,0,0.23);
}


@media only screen and (max-width: 50em) {
     #drum-machine {
          width: 48rem;
          height: 80vh;
          grid-template-columns: 1fr;
          grid-template-rows: 65% 35%;

     }
}

@media only screen and (max-width: 30em) {
     #drum-machine {
          width: 95vw;
          height: 80vh;
     }
}
